- content_for :javascript do
  %script{:src => '/js/lib/backbone.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/base_app.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/app_using_backbone.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/models/tweet.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/models/tweets.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/views/title-view.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/views/tweet-form-view.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/views/tweet-view.js', :type => 'text/javascript'}
  %script{:src => '/js/using_backbone/views/tweets-view.js', :type => 'text/javascript'}