%html
  %head
    %title jQuery => Backbone
    %script{:src => '/jquery.js', :type => 'text/javascript'}
    %script{:src => '/app.js', :type => 'text/javascript'}

  %body
    %h1 From jQuery To Backbone
    %div
      %form{:id => 'tweets'}
        %label{:for => 'tweet'} What's happening?
        %input{:id => 'tweet'}
        %input{:type => 'submit'}
    %div
      %h2 Your timeline:
      %ul
        %li old tweet
        %li older tweet
        %li oldest tweet