body {
  background-image: url(/img/bg.png);
  background-position: left 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #C0DEED;
}
.main-container {
  margin-top: 40px;
  width: 580px;
  padding: 0 20px;
  background: url(/img/wash-white-30.png);
}
.part {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(0,0,0,.25);
}
.part:first-child {
  -webkit-border-top-left-radius: 0;
     -moz-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
     -moz-border-top-right-radius: 0;
          border-top-right-radius: 0;
}
.title {
  text-shadow: 0 1px 0 #FFF;
}
.input-xxlarge {
  background-color: #F8F8F8;
}
.btn-tweet {
  margin-left: 450px;
}
.timeline .hint {
  background-color: #FFF;
  -webkit-border-top-left-radius: 8px;
     -moz-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
     -moz-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
  border: 1px solid rgba(0,0,0,.25);
  border-bottom: 0;
  padding: 12px;
}
.timeline ul {
  margin: 0;
  border-left: 1px solid rgba(0,0,0,.25);
  border-right: 1px solid rgba(0,0,0,.25);
  background-color: #FFF;
}
.timeline li {
  list-style: none;
  padding: 15px 20px;
  border-top: 1px solid rgba(0,0,0,.25);
}
.timeline li:hover {
  background-color: #EEE;
}