%form{id: 'tweets'}
  .control-group
    %h3 What's happening?
  .control-group
    %textarea.input-xxlarge{id: 'tweet-box', rows: '5'}
  .control-group
    %input.btn.btn-primary.btn-tweet{type: 'submit', value: 'Tweet'}